@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <h2>Reset Password</h2>


    <form asp-controller="Account" asp-action="SendEmail" method="post">
        <div asp-validation-summary="All">
        </div>

        <input asp-for="@Model.NewPassword" id="password" name="Password" placeholder="Enter your Password" required>
        <span asp-validation-for="@Model.NewPassword"></span>

        <button type="submit">Update</button>
    </form>
</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}

